<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Guia Suburbana</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides *ngIf="clients && clients.length"  pager="true" autoplay="1000" loop="true" speed="3000">
    <ion-slide *ngFor="let item of clients" (click)="openClient('item')" [style.backgroundImage]="'url(' + item.photo + ')'">
      <h2>{{ item.title }}</h2>
      <p>{{ item.endereco }}</p>
    </ion-slide>
  </ion-slides>

  <ion-col>
	  <ion-row>
		  Col 1
	  </ion-row>
  </ion-col>
  <ion-col>
	  <ion-row>
		  Col 2
	  </ion-row>
  </ion-col>
</ion-content>
